collector:
  interval: 300 # seconds
  retention: 30 # days
logging:
  level: info
database:
  uri: mongodb://localhost:27017
lxd:
  tls:
    certificate: ./keys/client.crt
    key: ./keys/client.key
    verify: false
  hostnodes:
    - lxd01.example.com
    - lxd02.example.com
